---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Section from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Projects from "../components/Projects.astro";
import Code from "../components/icons/Code.astro";
import Profile from "../components/profile.astro";
import Courses from "../components/Courses.astro";
import Certificate from "../components/icons/Certificate.astro";
---

<Layout
  title="Portfolio de Richard Vidal - Desarrollador y Programador Web con 2 años de experiencia "
  description="Contrata a Richard como Python Developer :D"
>
  <main class="px-4">
    <Section class="py-16 md:py-36">
      <Profile>
        <slot />
      </Profile>
    </Section>
    <div class="space-y-24">
      <Section id="experiencia">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          <Briefcase class="size-7" />
          Experiencia Laboral
        </h2>
        <Experience />
      </Section>

      <Section id="proyectos">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          <Code class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </Section>

      <Section id="cursos">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          <Certificate class="size-7" />
          Cursos
        </h2>
        <Courses />
      </Section>
    </div>
  </main>
</Layout>
