
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
<div class="hover-zoom ">
  <img class="h-auto  max-w-full  rounded-lg" src="/projects/Django.webp" alt="">
</div>
  <div class="hover-zoom  ">
      <img class="h-auto  max-w-full rounded-lg" src="/projects/web.webp" alt="">
  </div>
  <div class="hover-zoom ">
      <img class="h-auto max-w-full rounded-lg" src="/projects/api.webp" alt="">
  </div>
  <div class="hover-zoom ">
      <img class="h-auto max-w-full rounded-lg" src="/projects/bb.webp" alt="">
  </div>
</div>
<style>
  .hover-zoom img {
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
    position: relative;
  }
  .hover-zoom:hover img {
    transform: scale(2.1);
    z-index: 10;
  }
  .grid div {
    position: relative;
  }
</style>