---
const EXPERIENCE=[
    {
        title: "Analista de Procesos y Proyectos",
        date: "Abr 2023 – Abr 2024",
        company:"IDEGO STANDARD",
        description: 'Desarr',
        link: "#",
    },
    {
        title: "Practicante Pre-profesional",
        date: "Nov 2022 - Abr 2023",
        company:"IDEGO STANDARD",
        description: "Responsable del desarrollo de RPA utilizando Rocketbot en distintos giros de negocio",
    },
 
    ];
import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-2">
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
        </li>))
    }
  
</ol>
