---
const EXPERIENCE=[
    {
        date: "Abr 2023 – Abr 2024",
        title: "Analista de Procesos y Proyectos",
        description: 'He trabajado en el desarrollo de backend utilizando los frameworks Django, Django Rest Framework y NodeJS. Además, he desarrollado soluciones de Automatización de Procesos Robóticos (RPA) de alto nivel utilizando Rocketbot. Parte de mi trabajo ha consistido en modelar procesos para identificar áreas de mejora y posibles automatizaciones. He supervisado y realizado el seguimiento de proyectos, asegurándome de que se implementen los flujos y especificaciones establecidas. También he creado especificaciones y maquetas para orientar el desarrollo de los proyectos.',
        link: "#",
    },
    {
        date: "Nov 2022 - Abr 2023",
        title: "Practicante Pre-profesional",
        description: "Desarrollo de RPA utilizando Rocketbot para diversos tipos de procesos Elaboré documentación técnica y funcional para proyectos RPA y desarrollo web. Desarrollé aplicaciones web utilizando Django.",
    },
 
    ];
import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-200 ml-2">
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
        </li>))
    }
  
</ol>
